<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>About Me</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <main>
        <p>Hello! I'm Aditi Singhal, and this is my portfolio. I enjoy coding, learning new tech,
            and building projects.</p>
    </main>
</body>
</html>